.header{
    background-image: linear-gradient(to bottom, var(--color-grey-light-3), var(--color-grey-light-4));
    padding: 2rem 4rem;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--line) ;


    &__logo{
        height: 3.5rem;
    }


    &__nav{
        display: flex;
        justify-content: flex-end;
        flex: 0 0 12%;
    }

    &__icon{
        position: relative;
        height: 4rem;
        width: 4rem;
        cursor: pointer;
        @include center-hz-vz;

        &:hover svg{
            transform: translateY(-0.3rem);
        }

        &:hover span{
            transform: translateY(-0.3rem);
        }

        svg{
           height: 70%;
           width: 70%;
           fill: var(--color-grey-dark-2);
           transition: all 0.3s ease;
        }

        span{
            height: 2.5rem;
            width: 2.5rem;
            background-color: var(--color-primary);
            border-radius: 50%;
            font-size: 1.4rem;
            color: var(--color-white);
            position: absolute;
            padding: 0.3rem;
            top: -1rem;
            right: -1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s ease;
        }

        img{
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }

        &:not(:last-child){
            margin-right: 4rem;
        }
    }
}