.btn{
    height: 5rem;
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
    outline: none;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 10px;
    box-shadow: 0 2rem 4rem rgba(0,0,0,0.2);
}