.hotel {
  display: flex;
  border: var(--line);
  border-radius: 4px;
  background-color: var(--color-white);
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
  }

  &__image {
    height: auto;
    width: 30rem;
    overflow: hidden;

    & img {
      height: 100%;
      width: 100%;
    }
  }

  &__details {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  &__name {
    padding: 1rem 2rem 0 2rem;

    &--title {
      font-size: 2.5rem;
      color: var(--color-primary);
    }

    &--location {
      color: var(--color-grey-dark-2);
      display: flex;
      align-items: center;

      & svg {
        fill: currentColor;
        height: 2rem;
        width: 2rem;
      }
    }

    &--subtitle {
      margin: 0.4rem 0;
      display: flex;
      color: var(--color-grey-dark-2);

      & ul {
        flex: 1;
        list-style: none;

        & li {
          font-size: 1.4rem;
          letter-spacing: 0.1rem;
          margin: 0.3rem 0;

          & svg {
            height: 1rem;
            width: 1rem;
            margin-right: 0.5rem;
            fill: var(--color-primary);
          }

          :not(:last-child) {
            margin-bottom: 0.2rem;
          }
        }
      }
    }
  }

  &__price {
    padding: 0.5rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: var(--line);
  }

  &__text {
    display: flex;
    flex-direction: column;

    &--main {
      color: var(--color-grey-dark-2);
      font-size: 2rem;
    }

    &--secondary {
      color: var(--color-grey-dark-2);
      font-size: 1.4rem;
    }

    &--tertiary {
      color: var(--color-grey-dark-3);
      font-size: 1rem;
    }
  }
}

.hotel:not(:last-child) {
  margin-bottom: 2rem;
}
